<div class="row">
	<div class="col-md-12">
		<h1>NBA Information</h1>
	</div>
</div>
<a class="header_link" href="#/players">Players</a>
<a class="header_link" href="#/teams">Teams</a>
<a class="header_link" href="#/rosters">Rosters</a>
<div class="row">
	<div ng-view=""></div>
</div>