
	<div class="col-md-5">
		<h3>New Player</h3>
		<div class="form-group">
			<label for="first_name">Player Name</label>
			<input type="text" id="first_name" ng-model="newPlayer.player.name" class="form-control">
			<div id="newPlayer_error"></div>
		</div>
		<div class="form-group">
			<label for="team_name">Team Name</label>
			<select id="team_name" class="form-control" ng-model="newPlayer.player.team_id">
				<option ng-repeat="team in teams" value="{{team.id}}">
					{{team.name}}
				</option>				
			</select>
		</div>
		<button type="submit" class="btn btn-default" ng-click="create(newPlayer)">Add Player</button>
	</div>